---

  - hosts: all
    tasks:
      - name: Create blueprint directory
        file:
          path: /home/cloudsigma/blueprint{{ blueprintNumber }}
          state: directory
          mode: "a+rw"

  - hosts: all
    tasks:
      - copy:
          src: /deployment-engine/src/blueprint{{ blueprintNumber }}.json
          dest: /home/cloudsigma/blueprint{{ blueprintNumber }}/blueprint.json

  - hosts: all
    tasks:
      - name: Copy github json repo
        copy:
          src: /deployment-engine/src/VDC-Shared-Config
          dest: /home/cloudsigma/blueprint{{ blueprintNumber }}

  - hosts: [master]
    become: yes
    become_user: "{{ hostvars[groups['master'][0]]['ansible_ssh_user'] }}"
    tasks:
      - name: deploying components automatically
        block:
          - name: SLAlite
            script: scripts/SLAdeploy.sh {{ blueprintNumber }}
          - name: DS4M
            script: scripts/ds4mdeploy.sh {{ blueprintNumber }}
          - name: TUBDummy
            script: scripts/TUBDummy_add.sh {{ blueprintNumber }}

  - hosts: localhost
    tasks:
      - name: final
        debug:
          msg:
          - "Additional components added - their name is based on the date in YYYYMMDDhhmmss format"
