---

  - hosts: [master]
    become: yes
    become_user: "{{ hostvars[groups['master'][0]]['ansible_ssh_user'] }}"
    tasks:
      - name: deploying components automatically
        block:
          - name: SLAlite
            script: scripts/SLAdeploy.sh
          - name: DS4M
            script: scripts/ds4mdeploy.sh
          - name: TUBDummy
            script: scripts/TUBDummy_add.sh

  - hosts: localhost
    tasks:
      - name: final
        debug:
          msg:
          - "Additional components added - their name is based on the date in YYYYMMDDhhmmss format"
