---

  - hosts: [master]
    become: yes
    become_user: "{{ username }}"
    tasks:
      - name: Copy VDC deployment
        template: src=scripts/vdc.yaml dest=vdc-{{ vdcName }}.yaml

      - name: Add VDC
        shell: kubectl create -f vdc-{{ vdcName }}.yaml

  - hosts: localhost
    tasks:
      - name: final
        debug:
          msg:
          - "Additional components added"
